<h1 class='center'><%= @question.title %></h2>

<%= render 'layouts/nav' %>

<!-- Question Content -->
<p><%= @question.content%></p>

<!-- Question: Voting -->
<p>votes: <%= @question.votes.sum_values %></p>
<%= link_to '&#9650'.html_safe, upvote_question_path(@question), method: :post, class: "vote-arrow-up" %>
<%= link_to '&#9660'.html_safe, downvote_question_path(@question), method: :post, class: "vote-arrow-down" %>


<!-- Question: Existing Comments -->
<ul>
<% @question.responses.each do |response| %>
  <li>

  <!-- Comments (Question): Voting -->
  <p>votes: <%= response.votes.sum_values %></p>
  <%= link_to '&#9650'.html_safe, upvote_response_path(response), method: :post, class: "vote-arrow-up" %>
  <%= link_to '&#9660'.html_safe, downvote_response_path(response), method: :post, class: "vote-arrow-down" %>

    <%= response.content%> - <%= response.user.username %>
  </li>
<% end %>
</ul>

<!-- Question: Add Comment -->
<button class="addComment" data-id="question">add a comment
  <div class="commentBox">
   <%= form_for Response.new do |f| %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <%= f.hidden_field :responsible_id, value: @question.id %>
    <%= f.hidden_field :responsible_type, value: "question" %>
     <p>
       <%= f.label :content, "New comment" %><br/>
       <%= f.text_area :content %>
     </p>
     <p><%= f.submit "Add comment" %></p>
   <% end %>
  </div>
</button>

<!-- Question's Answers -->
<h4>Answers</h4>
<ul>
<% @question.answers.each do |ans| %>
  <li>
    <!-- Answer Content -->
    <%= link_to '&#10003'.html_safe, best_answer_path(ans), method: :post, class: "vote-arrow-up" %>
  <%= ans.created_at%><%= ans.content %> - <%= ans.user.username %>
  <br>

  <!-- Answer: Voting -->
  <p>votes: <%= ans.votes.sum_values %></p>
  <%= link_to '&#9650'.html_safe, upvote_answer_path(ans), method: :post, class: "vote-arrow-up" %>
  <%= link_to '&#9660'.html_safe, downvote_answer_path(ans), method: :post, class: "vote-arrow-down" %>

  <!-- Answer: Existing Comments -->
  <ul>
    <% ans.responses.each do |response| %>
      <li>

        <!-- Comments (Answer): Voting -->
        <p>votes: <%= response.votes.sum_values %></p>
        <%= link_to '&#9650'.html_safe, upvote_response_path(response), method: :post, class: "vote-arrow-up" %>
        <%= link_to '&#9660'.html_safe, downvote_response_path(response), method: :post, class: "vote-arrow-down" %>

        <%= response.content%> - <%= response.user.username %>
      </li>
    <% end %>
  </ul>

  <br>
  <!-- Answer: Add Comment -->
  <button class="addComment">add a comment
    <div class="commentBox">
     <%= form_for Response.new do |f| %>
      <%= f.hidden_field :question_id, value: @question.id %>
      <%= f.hidden_field :responsible_id, value: ans.id %>
      <%= f.hidden_field :responsible_type, value: "answer" %>
       <p>
         <%= f.label :content, "New comment" %><br/>
         <%= f.text_area :content %>
       </p>
       <p><%= f.submit "Add comment" %></p>
     <% end %>
    </div>
  </button>
  </li>
<% end %>
</ul>
<!-- Create A New Answer -->
<h4>Your Answer</h4>

<%= form_for(@answer) do |f| %>

  <%= f.hidden_field :question_id, value: @question.id %>

  <%= f.label :content %>
  <br>
  <%= f.text_field :content, size: 200 %>
  <br>

  <%= f.submit "Post Your Answer" %>

<% end %>
