<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='user-form'>
    <div class="field">
      <%= f.label :username, "Enter username" %>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :real_name, "Enter full name" %>
      <%= f.text_field :real_name %>
    </div>
    <div class="field">
      <%= f.label :email, "Enter email" %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password, "Enter password" %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :website, "Enter website" %>
      <%= f.text_field :website %>
    </div>
    <div class="field">
      <%= f.label :location, "Enter location" %>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :age, "Enter age" %>
      <%= f.text_field :age %>
    </div>
    <div class="actions">
      <%= f.submit "Register" %>
    </div>
  </div>
<% end %>
