<h1 class='center'><%= @tag.name %></h1>

<%= render 'layouts/nav' %>

<table id='question_index'>
  <thead>
    <th class='short-column'>Votes</th>
    <th class='short-column'>Answers</th>
    <th class='short-column'>Views</th>
    <th class='long-column'><%= link_to "Highest-Voted", {sort: 'highest_voted'} %> --- <%= link_to "Most Recent", {sort: 'most_recent'} %> --- <%= link_to "Trending", {sort: 'trending'}%></th>
  </thead>
  <tbody>
    <% @tag_questions.each do |q| %>
      <tr>
        <td class='center data'><%= q.votes.sum_values %></td>
        <td class='center data'><%= q.answers.count %></td>
        <td class='center data'><%= q.visit_count %></td>
        <td class='big'><span class='q-title'><%= link_to q.title, q %></span><p>Submitted by <%= link_to q.user.username, user_path(q.user) %> on <%= q.created_at.format_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

