<div id='header'>
  <ul>
      <li id='home-page-link'>
        <%= link_to image_tag("logo.png", size: '33x48',class: "logo_bar"), root_path %></li>
    <% if logged_in? %>
      <li class='right'><%= link_to "Logout", logout_path, method: :delete %></li>
      <li class='right'><%= link_to "Profile", user_path(current_user.id) %></li>
    <% else %>
      <li class='right'><%= link_to "Login", login_path %></li>
      <li class='right'><%= link_to "Register", new_user_path %></li>
    <% end %>
  </ul><br>
  <%= render 'layouts/flash' %>
</div>
